<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phil Knowles Portfolio | Welcome</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/foundation.min.css">
    <link rel="stylesheet" href="/stylesheets/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick-theme.css" />
    <link rel="stylesheet" href="/stylesheets/trails.css">
    <link rel="stylesheet" href="/stylesheets/parks.css">
</head>
<body>
    <header>
        <div class="row">
            <div class="large-8 columns">
                <h2>Minnesota</h2>
                <h3>Adventures</h3>
            </div>
            <nav class="large-4 columns">
                <ul>
                    <li><a href="state-parks.html">State Parks</a></li>
                    <li><a href="bike-paths.html">Biking</a></li>
                    <li><a href="^_^">Hiking</a></li>
                    <li>
                        <a href="^_^">
                            <svg viewBox="0 0 139 139">
                                <path d="M127.558,111.961L100.249,84.65c4.64-7.387,7.333-16.118,7.333-25.488c0-26.509-21.49-47.996-47.998-47.996  c-26.508,0-47.996,21.487-47.996,47.996c0,26.51,21.487,47.995,47.996,47.995c10.197,0,19.642-3.188,27.414-8.605l26.984,26.986  c1.875,1.873,4.333,2.806,6.788,2.806c2.458,0,4.913-0.933,6.791-2.806C131.308,121.787,131.308,115.711,127.558,111.961z   M59.584,91.607c-17.917,0-32.443-14.525-32.443-32.443S41.667,26.72,59.584,26.72c17.918,0,32.443,14.526,32.443,32.444  S77.502,91.607,59.584,91.607z" />
                            </svg>
                        </a>
                    </li>
                </ul>
                <form id="search">
                    <input type="search" name="search" placeholder="Search..." />
                </form>
            </nav>
        </div>
    </header>
    <div class="row">
        <h3>Bike Trails</h3>
    </div>
    <main>
        <div class="location">
            <select id="locations" name="locations">
                <option value="Choose a Location">Choose a Location...</option>
                <option value="48.1635129, -92.8009661">Arrowhead State Trail</option>
                <option value="43.6424434, -93.3247082">Blazing Star State Trail</option>
                <option value="45.0716605, -92.8545651">Brown&#39;s creek state trail</option>
                <option value="43.9972255, -96.2089116">casey jones state trail</option>
                <option value="46.0197834, -95.7020953">central lakes state trail</option>
                <option value="47.0262774, -91.9064981">C.J. Ramstad / North Shore State Trail</option>
                <option value="46.4898118, -94.0028644">Cuyuna Lakes State Trail</option>
                <option value="44.1274279, -92.5908243">Douglas State Trail</option>
                <option value="45.0341516, -92.9506245">Gateway State Trail</option>
                <option value="47.5690248, -90.8494231">Gitchi-Gami State Trail</option>
                <option value="45.3026902, -94.9549562">Glacial Lakes State Trail</option>
                <option value="44.5676739, -92.5767779">Goodhue Pioneer State Trail</option>
                <option value="44.1144347, -92.2659313">Great River Ridge State Trail</option>
                <option value="43.7162357, -92.0224661">Harmony-Preston Valley State Trail</option>
                <option value="47.1521803, -94.6424342">Heartland State Trail</option>
                <option value="44.975739, -93.7651628">Luce Line State Trail</option>
                <option value="45.9462889, -92.6082205">Matthew Lourey State Trail</option>
                <option value="44.6640468, -93.7101632">Minnesota Valley State Trail</option>
                <option value="46.6955174, -94.374225">Paul Bunyan State Trail</option>
                <option value="43.7677423, -91.876117">Root River State Trail</option>
                <option value="44.2026803, -93.6280076">Sakatah Singing Hills State Trail</option>
                <option value="43.5829572, -92.7865004">Shooting Star State Trail</option>
                <option value="47.840773, -92.504732">Taconite State Trail</option>
                <option value="46.4513926, -92.7702443">Willard Munger State Trail</option>
                <option value="44.9324076, -92.7730204">Afton to Lakeland Trail</option>
                <option value="45.5351652, -94.1567578">Beaver Island Trail</option>
                <option value="44.8882063, -93.1605312">Big Rivers Regional Trail</option>
                <option value="43.6424434, -93.3247082">Blazing Star State Trail</option>
                <option value="48.8206755, -100.4360332">Bottineau Trail</option>
                <option value="45.0716605, -92.8545651">Brown's Creek State Trail</option>
                <option value="45.0011339, -93.0464195">Bruce Vento Trail</option>
                <option value="44.5157478, -92.8928617">Cannon Valley Trail</option>
                <option value="43.9972255, -96.2089116">Casey Jones State Trail</option>
                <option value="44.9448757, -93.3384343">Cedar Lake LRT Regional Trail</option>
                <option value="46.0197834, -95.7020953">Central Lakes State Trail</option>
                <option value="46.4898118, -94.0028644">Cuyuna Lakes State Trail</option>
                <option value="45.6081417, -94.4752547">Dairyland Trail</option>
                <option value="44.9067529, -93.7388031">Dakota Rail Regional Trail</option>
                <option value="44.9801593, -93.2302561">Dinkytown Greenway</option>
                <option value="44.1274279, -92.5908243">Douglas State Trail</option>
                <option value="45.0341516, -92.9506245">Gateway State Trail</option>
                <option value="47.5690248, -90.8494231">Gitchi-Gami State Trail</option>
                <option value="45.2250149, -92.9843559">Hardwood Creek Regional Trail</option>
                <option value="44.9612249, -93.3168219">Kenilworth Trail</option>
                <option value="44.9313367, -93.4937377">Lake Minnetonka LRT Regional Trail</option>
                <option value="45.6696501, -94.7371927">Lake Wobegon Trail</option>
                <option value="47.4887835, -92.8822406">Longyear Lake Trail</option>
                <option value="47.4622788, -92.5189665">Mesabi Trail</option>
                <option value="44.9503469, -93.2711782">Midtown Greenway (MN)</option>
                <option value="44.702156, -93.4034776">Mill Towns Trail</option>
                <option value="45.0075272, -93.2264252">Minneapolis Diagonal Trail</option>
                <option value="44.9506014, -93.4262652">Minnehaha Trail</option>
                <option value="44.8607429, -93.4788134">Minnesota River Bluffs LRT Regional Trail</option>
                <option value="44.6640468, -93.7101632">Minnesota River State Trail</option>
                <option value="44.6640468, -93.7101632">Minnesota Valley State Trail</option>
                <option value="45.0714905, -93.2791876">Mississippi River Regional Trail (Dakota County)</option>
                <option value="44.9448757, -93.3384343">North Cedar Lake Regional Trail/Cedar Lake Trail</option>
                <option value="46.6955174, -94.374225">Paul Bunyan State Trail</option>
                <option value="48.5031851, -93.3010612">Rainy Lake Trail</option>
                <option value="44.1309188, -94.0434851">Red Jacket Trail</option>
                <option value="44.4501717, -93.4501742">River Bend Trail</option>
                <option value="45.4499745, -94.5207989">Rocori Trail</option>
                <option value="43.7677423, -91.876117">Root River State Trail</option>
                <option value="44.2026803, -93.6280076">Sakatah Singing Hills State Trail</option>
                <option value="43.5829572, -92.7865004">Shooting Star State Trail</option>
                <option value="45.9330351, -94.4568454">Soo Line Recreational Trail</option>
                <option value="44.982202, -93.2642574">St. Anthony Falls Heritage Trail</option>
                <option value="45.5528361, -94.1495827">St. Cloud River Walk</option>
                <option value="44.2787926, -93.271239">Straight River Trail</option>
                <option value="45.4052425, -92.9885996">Sunrise Prairie Trail</option>
                <option value="45.3789272, -92.8824291">Swedish Immigrant Trail</option>
                <option value="44.9534493, -93.2143633">West River Parkway</option>
                <option value="46.4789152, -92.7286396">Willard Munger State Trail (Alex Laveau Memorial Trail)</option>
            </select>
        </div>
        <section>
            <div id="map"></div>
        </section>

    </main>

    <footer>
        <div class="row">
            <div class="large-8 columns">&#169; 2016 <a href="^_^">Minnesota Parks and Trails</a>.  all rights reserved.</div>
            <div class="large-4 columns"><a href="^_^">Terms of Service</a></div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHWlu3WoJPD0U6y8dtcd0dvd8QO3KpzM4&callback=initMap" async defer></script>
    <script src="/js/bike-paths.js"></script>
</body>
</html>
