<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phil Knowles Portfolio | Welcome</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/foundation.min.css">
    <link rel="stylesheet" href="/stylesheets/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick-theme.css" />
    <link rel="stylesheet" href="/stylesheets/trails.css">
    <link rel="stylesheet" href="/stylesheets/parks.css">
</head>
<body>
    <header>
        <div class="row">
            <div class="large-8 columns">
                <h2>Minnesota</h2>
                <h3>Adventures</h3>
            </div>
            <nav class="large-4 columns">
                <ul>
                    <li><a href="state-parks.html">State Parks</a></li>
                    <li><a href="bike-paths.html">Biking</a></li>
                    <li><a href="^_^">Hiking</a></li>
                    <li>
                        <a href="^_^">
                            <svg viewBox="0 0 139 139">
                                <path d="M127.558,111.961L100.249,84.65c4.64-7.387,7.333-16.118,7.333-25.488c0-26.509-21.49-47.996-47.998-47.996  c-26.508,0-47.996,21.487-47.996,47.996c0,26.51,21.487,47.995,47.996,47.995c10.197,0,19.642-3.188,27.414-8.605l26.984,26.986  c1.875,1.873,4.333,2.806,6.788,2.806c2.458,0,4.913-0.933,6.791-2.806C131.308,121.787,131.308,115.711,127.558,111.961z   M59.584,91.607c-17.917,0-32.443-14.525-32.443-32.443S41.667,26.72,59.584,26.72c17.918,0,32.443,14.526,32.443,32.444  S77.502,91.607,59.584,91.607z" />
                            </svg>
                        </a>
                    </li>
                </ul>
                <form id="search">
                    <input type="search" name="search" placeholder="Search..." />
                </form>
            </nav>
        </div>
    </header>
    <div class="row">
        <h3>Hiking Trails</h3>
    </div>
    <main>
        <div class="location">
            <select id="locations" name="locations">
                <option value="Choose a Location">Choose a Location...</option>
                <option value="48.1635129, -92.8009661">Arrowhead State Trail</option>
                <option value="43.6424395,-93.3247082">Blazing Star State Trail</option>
                <option value="45.0716605,-92.8545651">Brown's Creek State Trail</option>
                <option value="43.9972255, -96.2089116">Casey Jones State Trail</option>
                <option value="46.0197834,-95.7020953">Central Lakes State Trail</option>
                <option value="47.0262774,-91.9064981">C.J. Ramstad/North Short State Trail</option>
                <option value="46.4898118,-94.0028644">Cuyuna Lakes State Trail</option>
                <option value="44.1274241, -92.5908243">Douglas State Trail</option>
                <option value="45.0341478, -92.9506245">Gateway State Trail</option>
                <option value="47.5690212, -90.8494231">Gitchi-Gami State Trail</option>
                <option value="45.2699351, -94.9455799">Glacial Lakes State Trail</option>
                <option value="43.9395908, -91.4105595">Great Rivers Bluff State Park</option>
                <option value="47.1521767, -94.6424342">Heartland State Trail</option>
                <option value="44.9890271, -93.4880774">Luce Line Regional Trail</option>
                <option value="45.9462852, -92.6082205">Matthew Lourey State Trail</option>
                <option value="44.664043, -93.7101632">Minnesota Valley State Trail</option>
                <option value="46.6955137, -94.374225">Paul Bunyan State Trail</option>
                <option value="43.7677384, -91.876117">Root River State Trail</option>
                <option value="44.2026765, -93.6280076">Sakatah Singing Hills State Trail</option>
                <option value="43.5829572,-92.7865004">Shooting Star State Trail</option>
                <option value="47.3299541, -93.4189313">Taconite State Trail</option>
                <option value="46.4513926,-92.7702443">Willard Munger State Trail</option>
                <option value="45.1362845, -93.4447824">Elm Creek Park Reserve</option>
                <option value="44.7737438, -93.1829773">Lebanon Hills Regional Park</option>
                <option value="44.9150624, -93.210469">Minnehaha Regional Park</option>
                <option value="44.8248275, -93.3739011">Hyland Lake Park Reserve</option>
                <option value="44.7128758, -93.347354">Murphy-Hanrehan Park Reserve</option>
                <option value="48.099223, -90.8025497">Magnetic Rock Trail</option>
                <option value="44.0399129, -91.6697555">Bluffside Trail</option>
                <option value="44.5679867, -92.5214146">Barn Bluff Trail</option>
                <option value="47.6587507, -96.0933512">Rydell Refuge Trails</option>
                <option value="45.6696464, -94.7371927">Lake Wobegon Trail</option>
                <option value="44.8114968, -92.9023099">Cottage Grove Ravine Regional Park</option>
                <option value="44.9865209, -93.3261863">Theodore Wirth Regional Park</option>
                <option value="47.011014, -95.7790887">Maplelag Trail</option>
                <option value="44.515744, -92.8928617">Cannon Valley Trail</option>
                <option value="48.5844444, -93.1638554">Voyageurs National Park</option>
                <option value="44.9707263, -92.9053433">Lake Elmo Park Reserve</option>
                <option value="44.5456907, -92.542312">Hay Creek Trails</option>
                <option value="48.0221229, -89.9931322">Border Route Trail</option>
                <option value="47.6693203, -92.5776297">Big Aspen Trail</option>
                <option value="46.8181774, -95.7926889">Detroit Mountain Recreation Area</option>
                <option value="47.3793999, -94.6214726">Goose Lake Trail</option>
                <option value="44.7323511, -93.6201311">Louisville Swamp, Mazomani Trail</option>
                <option value="47.6587507, -96.0933512">Rydell Refuge Trails</option>
                <option value="45.0116985, -93.4125278">Bassett Creek Regional Trail</option>
                <option value="44.9448719, -93.3384343">Cedar Lake LRT Regional Trail</option>
                <option value="45.0079549, -93.4130332">Crystal Lake Regional Trail</option>
                <option value="45.0873732, -93.6376428">Lake Independence Regional Trail</option>
                <option value="44.9313329, -93.4937377">Lake Minnetonka LRT Regional Trail</option>
                <option value="45.0627543, -93.4397419">Medicine Lake Regional Trail</option>
                <option value="44.8607391, -93.4788134">Minnesota Rivers Bluffs Trail</option>
                <option value="44.8177367, -93.3111989">Nine Mile Creek Regional Trail</option>
                <option value="44.9448719, -93.3384343">North Cedar Lake Regional Trail</option>
                <option value="45.0133972, -93.4529169">Northeast Diagonal Regional Trail</option>
                <option value="45.141398, -93.3630926">Rush Creek Regional Trail</option>
                <option value="45.1096251, -93.3308251">Shingle Creek Regional Trail</option>
                <option value="47.5750863, -94.6321118">Lost Forty Trail</option>
                <option value="45.1015397, -93.1857371">Rice Creek North Regional Trail</option>
                <option value="44.9371211, -93.2058922">Mississippi Gorge Trail</option>
                <option value="44.9133372, -93.051671">South St. Paul Riverfront Trail</option>
                <option value="44.8882025, -93.1605312">Big Rivers Regional Trail</option>
                <option value="45.4052388, -92.9885996">Sunrise Prairie Trail</option>
                <option value="47.7752841, -90.3811835">Superior Hiking Trail</option>
                <option value="47.7825153, -90.5252795">Bally Creek Trails</option>
                <option value="44.9067491, -93.7388031">Dakota Rail Regional Trail</option>
                <option value="47.4546659, -93.6407278">Suomi Hills Trail</option>
                <option value="45.3433838, -93.0502567">Carlos Avery Trail</option>
                <option value="45.3936727, -92.6709847">Interstate State Park</option>

                <!--
                <option value="43.9270372, 91.2831473">Verchota Canoe Trail</option>
                <option value="47.9043802, -97.0028892">Grand Forks / East Grand Forks Greenway Trail</option>
                <option value="45.4969556, -95.1182247">North Fork Crow River Trail</option>
                <option value="47.5193944, -94.0446687">Cut Foot Sioux NRT</option>
                <option value="45.1578189, -93.8466802">North Fork Crow River Trail</option>
                <option value="44.9978738, -93.0582949">Oakdale Park</option>
                <option value="44.6740098, -93.3083495">Ritter Farm Park</option>
                <option value="45.0563698, -93.6368106">Shingobee NRT</option>
                <option value="47.7752841, -90.3811835">Superior Hiking</option>
                <option value="44.664043, -93.7101632">Minnesota Valley State Recreation Area</option>
                <option value="47.578183, -92.3060557">Giants Ridge</option>
                <option value="46.7907376, -92.0998528">The Duluth Experience Tour Company</option>
                <option value="46.5321666, -93.4279476">Rice Lake National Wildlife Refuge</option>
                <option value="44.9801953, -93.2600018">Mill Ruins Park</option>
                <option value="47.9606509, -89.6887828">Grand Portage National Monument</option>
                <option value="47.0109926, -95.8469396">Tamarac National Wildlife Refuge</option>
                <option value="43.989302, -92.3218859">Chester Woods County Park</option>
                <option value="44.577711, -94.9822457">Birch Coulee Battlefield</option>
                <option value="47.0401432, -92.1919735">Boulder Lake Management Area</option>
                <option value="44.277616, -93.2434557">River Bend Nature Center</option>
                <option value="47.7059138, -90.5328482">Cascade Lodge</option>
                <option value="47.3817159, -91.1983252">Wolf Ridge Environmental Learning Center</option>
                <option value="47.3793999, -94.6214726">Chippewa National Forest</option>
                <option value="46.114977, -92.9952227">Audubon Center of the North Woods</option>
                <option value="44.550662, -95.1273747">Alexander Ramsey Park</option>
                <option value="46.7757904, -95.8013988">Sucker Creek Preserve</option>
                <option value="45.0226281, -93.6390281">Baker Park Reserve</option>
                <option value="44.8598186, -93.2183667">Minnesota Valley National Wildlife Refuge</option>
                <option value="48.299759, -95.9846586">Agassiz National Wildlife Refuge</option>
                <option value="46.7094877, -92.0243056">Park Point Recreation Area</option>
                <option value="44.4517172, -96.1088003">Northern Tallgrass Prairie NWR</option>
                <option value="44.664043, -93.7101632">Minnesota Valley State Recreation Area</option>
                <option value="45.0245816, -93.43843">French Regional Park</option>
                <option value="43.7610698, -92.0035565">Eagle Bluff Environmental Learning Center</option>
                <option value="45.8742604, -93.3099505">Kanabec History Center</option>
                <option value="46.7793723, -92.1333894">Enger Park Tower and Gardens</option>
                <option value="46.7970188, -92.0842661">Leif Erickson Park & Rose Garden</option>
                <option value="44.7744386, -93.2407531">Terrace Oaks West Park</option>
                <option value="46.3594645, -94.2301399">Northland Arboretum</option>
                <option value="45.0133972, -93.4529169">Three Rivers Park District</option>
                <option value="46.2652882, -96.0658238">Prairie Wetlands Learning Center</option>
                <option value="44.5083555, -92.943818">Lake Byllesby Regional Park</option>
                <option value="44.5431188, -92.8050487">Miesville Ravine Park Reserve</option>
                <option value="45.0714867, -93.2791876">Mississippi River Regional Trail</option>
                <option value="44.9840038, -93.2585533">Spring Lake Park Reserve</option>
                <option value="44.9034576, -93.0851985">Thompson County Park</option>
                <option value="44.6848692, -93.0873615">Whitetail Woods Regional Park</option>
                <option value="44.8248275, -93.3739011">Hyland Lake Park Reserve</option>
                <option value="44.928539, -93.7067538">Gale Woods Farm</option>
                <option value="45.047801, -93.2253147">Silverwood Park</option>
                <option value="44.8744773, -93.715238">Carver Park Reserve</option>
                <option value="47.037, -94.6461887">Shingobee Recreation Area</option>
                <option value="46.4194102, -94.44376">Pillsbury State Forest</option>
                <option value="46.0881593, -92.4163102">Saint Croix State Forest</option>
                <option value="45.5412741, -95.5334579">Glacial Lakes</option>
                <option value="45.4839208, -93.7138763">Sherburne National Wildlife Refuge, Prairie&#39;s Edge Trail</option>
                <option value="45.4052809, -93.6674985">Sand Dunes State Forest, Ann Lake</option>
                <option value="45.1900106, -93.6400207">Crow-Hassan Park Reserve</option>
                <option value="45.3906954, -93.3561888">Rum River North County Park</option>
                <option value="45.2940678, -93.383871">Rum River Central Regional Park</option>
                <option value="45.2092788, -93.2881347">Bunker Hills Regional Park</option>
                <option value="45.1435857, -93.3140684">Coon Rapids Dam</option>
                <option value="45.101349, -93.0408713">Tamarack Nature Center</option>
                <option value="45.0679921, -93.1246948">Snail Lake</option>
                <option value="45.1201067, -92.8415727">Pine Point Regional Park Trail</option>
                <option value="45.0718651, -93.7591031">Lake Rebecca Park Reserve</option>
                <option value="45.00265, -93.5729877">Wolsfeld Woods Scientific Natural Area (SNA)</option>
                <option value="45.0245816, -93.43843">Clifton E. French Regional Park</option>
                <option value="44.9707263, -92.9053433">Lake Elmo Park Reserve, Eagle Point Lake</option>
                <option value="44.8784684, -93.7070288">Carver Park Reserve/Lowry Nature Center, Tamarack Trail</option>
                <option value="44.8103777, -93.9426273">Baylor Regional Park</option>
                <option value="44.8844508, -93.4330949">Bryant Lake</option>
                <option value="44.8248275, -93.3739011">Hyland Lake Park Reserve</option>
                <option value="44.7953009,-93.3796348">City Lakes Chain, Lake Harriet, Lake Calhoun, Lake Isles</option>
                <option value="44.8770706, -93.2952699">Wood Lake Nature Center</option>
                <option value="44.9086971, -93.2511585">Lake Nokomis</option>
                <option value="44.9153298, -93.2197554">Minnehaha Falls</option>
                <option value="44.8598186, -93.2183667">Bass Ponds Trail, Long Meadow Lake</option>
                <option value="44.9082944, -93.0706532">Thompson County Park, Thompson Trail</option>
                <option value="44.8114968, -92.9023099">Cottage Grove Ravine Regional Park</option>
                <option value="44.8735388, -93.1935399">Fort Snelling State Park</option>
                <option value="44.897501, -93.1681397">Crosby Farm Park</option>
                <option value="44.7660229, -92.9361167">Spring Lake Park Reserve, Schaar&#39;s Bluff Trail</option>
                <option value="44.8467844, -92.7936829">Afton State Park</option>
                <option value="44.6807351, -93.3990422">Cleary Lake Regional Park</option>
                <option value="44.664043, -93.7101632">Minnesota Valley State Recreation Area, Lawrence Trail</option>
                <option value="43.736951, -92.8562877">Wild Indigo Scientific Natural Area</option>
                <option value="44.5235779, -92.4444959">Brightsdale Unit, R.J. Dorer Memorial Hardwood Forest</option>
                <option value="44.0133131, -96.3275067">Pipestone National Monument</option>
                <option value="44.3561567, -95.9219668">Camden State Park</option>-->
            </select>
        </div>
        <section>
            <div id="map"></div>
        </section>

    </main>

    <footer>
        <div class="row">
            <div class="large-8 columns">&#169; 2016 <a href="^_^">Minnesota Parks and Trails</a>.  all rights reserved.</div>
            <div class="large-4 columns"><a href="^_^">Terms of Service</a></div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHWlu3WoJPD0U6y8dtcd0dvd8QO3KpzM4&callback=initMap" async defer></script>
    <script src="/js/hiking.js"></script>
</body>
</html>
